body {
    background-color: #EEF9BF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 100px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 100%;
}

.card {
    border-radius: 5px;
    box-sizing: border-box;
    width: 117px;
    height: 146px;
    margin: 16px;
    padding: 20px 10px; 
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card.selected .back-face {
    transform: rotateY(0deg);
}

.card.selected .front-face {
    transform: rotateY(-180deg);
}

@media (max-width: 600px) {
    .title {
        font-size: 36px;
    }
}