body {
    background-color: #eef9bf;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 40px 100px;
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-board {
    display: none;
}

.game-content.hide {
	display: none;
}

button.rank{
    position: fixed;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: #75b79e;
    color: #eef9bf;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
}

.score-board.show {
    
    padding: 20px;
    color: #eef9bf;
    display: flex;
    flex-direction: column;
    text-justify: center;
    background-color: #75b79e;
    border-radius: 5%;
	position: absolute;
	width: 300px;
	top: 150px;
	
}

.score-board .player-score {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.score-board .player-score.title {
    font-size: inherit;
    color: #eef9bf;
    margin-bottom: 15px;
}

.score-board .points {
    display: flex;
    width: 65px;
    justify-content: center;
}

.timer {
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #75b79e;
    color: #eef9bf;
    font-family: "Roboto", sans-serif;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75b79e;
    text-align: center;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 100%;
}

.card {
    border-radius: 5px;
    width: 117px;
    height: 146px;
    margin: 16px;
    padding: 20px 10px 0 0;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card.selected .back-face {
    transform: rotateY(0deg);
}

.card.selected .front-face {
    transform: rotateY(-180deg);
}

.card.correct .back-face {
    transform: rotateY(0deg);
}

.card.correct .front-face {
    transform: rotateY(-180deg);
}

@media (max-width: 600px) {
    .title {
        font-size: 36px;
    }
    .container {
        margin: 40px 50px;
    }
}

@media (max-width: 300px){	
	.score-board.show {
		width: 100vw;
	}
}

@media (max-width: 200px){	
	.score-board.show {
		width: 200px;
	}
}

* {
	box-sizing: border-box;
}